*{
	padding: 0; 
	box-sizing: border-box;
}

body{
	text-transform: uppercase;
	overflow-x: hidden;
}

section{
	text-align: center;
	border: 2px solid black;
}

.container{
	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	border: 2px solid black;
	min-height: 500px;
}

#btn, #newgame{
	min-height: 50px;
	min-width: 100px;
}

#section-two{
	padding-top: 50px;
}

img{
	display: block;
	max-width: 100%
}